* {
  margin: 0;
  padding: 0;
}

body {
  max-width: 100vw;
  overflow-x: hidden;
}

.header_top {
  height: 30px;
  background-color: #F2F2F2;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  text-align: center;
  z-index: 100;
}
.header_top img {
  height: 1rem;
}
.header_top i {
  height: 1rem;
  color: #243773;
}
.header_top a {
  text-decoration: none;
  color: #243773;
  font-size: 0.9rem;
  font-family: "Montserrat", sans-serif;
}

/* HEADER BOTTOM - NAV */
.navbar {
  box-shadow: 0 0 1px #0D0D0D;
}

.nav-item {
  padding: 10px;
}

.link {
  text-decoration: none;
  padding: 8px;
  margin-right: 12px;
  font-size: 1.2rem;
  color: #243773;
  font-family: "Montserrat", sans-serif;
  transition: 0.3s;
}

.link:hover {
  color: #f2c778;
}

footer {
  min-height: 60px;
  padding-top: 5px;
  background-color: #243773;
  font-family: "Montserrat", sans-serif;
  color: #F2F2F2;
}
footer p {
  margin: 0;
}

.divisor {
  width: 100%;
  height: 10px;
  background-image: linear-gradient(to right, #c89118 0%, #21326c 100%);
}

.divisor2 {
  width: 100%;
  height: 10px;
  background-image: linear-gradient(to left, #c89118 0%, #21326c 100%);
}

#hero {
  background-color: #243773;
}

.carrousel {
  padding: 0rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carrousel_imagen {
  width: 700px;
  height: 500px;
}
.carrousel_imagen img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.carrousel_texto {
  padding: 1rem;
  max-width: 350px;
  max-height: 200px;
  font-family: "Montserrat", sans-serif;
  color: #F2F2F2;
}

.hero_bottom {
  background-color: #F2F2F2;
  min-height: 260px;
  padding: 1rem;
}

.hero_bottom-titulo {
  font-size: 2.6rem;
  color: #243773;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.hero_botom-logos {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 2rem;
}
.hero_botom-logos img {
  height: 135px;
}

/* HERO BOTTOM // MARCAS SECUNDARIAS */
.marcas_secundarias h2 {
  color: #243773;
  font-family: "Montserrat", sans-serif;
  text-align: center;
}

.marcas_secundarias-contenedor {
  display: flex;
  justify-content: center;
}

.marcas_secundarias-imagenContenedor {
  height: 210px;
  width: 210px;
  margin: 1rem 0;
  padding: 1.5rem;
}
.marcas_secundarias-imagenContenedor img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  outline: 0.3rem solid #f2c778;
}

/* NOSOTROS */
.nosotros {
  min-height: 690px;
  background-image: url("../img/racks.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  background-attachment: fixed;
  font-family: "Montserrat", sans-serif;
  padding: 10px;
}

.nosotros_left {
  gap: 16px;
  padding-right: 2rem;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.nosotros_left img {
  height: 115px;
  filter: invert(1);
}

.nosotros_left-texto {
  color: #F2F2F2;
  font-size: 1.2rem;
}

.nosotros_right {
  width: 50%;
  gap: 16px;
  padding-left: 2rem;
}

.nosotros_right-texto {
  color: #F2F2F2;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.nosotros_right-texto h3 {
  font-size: 3rem;
}
.nosotros_right-texto hr {
  border: solid #F2F2F2;
  border-width: 3px;
  width: 16rem;
}
.nosotros_right-texto p {
  width: 85%;
  padding-top: 3rem;
  letter-spacing: 1px;
}

.button button {
  color: #F2F2F2;
  border: solid 2.5px #F2F2F2;
  border-radius: 5px;
  font-size: 1rem;
  margin: 2rem 0 0 0px;
  padding: 12px 30px;
  cursor: pointer;
  background: none;
  transition: 0.3s;
}

.button button:hover {
  background-color: #243773;
  color: #F2F2F2;
  border: solid 2.5px #F2F2F2;
}

.nosotros_top {
  background-image: url("../img/filosofia.jpg");
  background-position: top;
  background-attachment: fixed;
  background-repeat: no-repeat;
  height: 330px;
}

.nosotros_top-texto {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: flex-start;
  color: #F2F2F2;
  font-family: "Montserrat", sans-serif;
}
.nosotros_top-texto h3 {
  font-size: 1.6rem;
  padding: 0 0 1rem 1.5rem;
}
.nosotros_top-texto hr {
  width: 4rem;
  height: 0.16rem;
  color: #F2F2F2;
  background: #F2F2F2;
  font-size: 3rem;
  margin: 0 0 2rem 1.5rem;
}
.nosotros_top-texto h1 {
  font-size: 2.6rem;
  padding: 0 0 3rem 1.5rem;
}

.nosotros_main_top {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.nosotros_main_top-cards h3 {
  margin-top: 2.5rem;
  font-size: 2.4rem;
  font-weight: 70;
  font-family: "Gloria Hallelujah", cursive;
}

.nosotros_main_top-cards p {
  font-size: 1.2rem;
  text-align: justify;
  font-family: "Montserrat", sans-serif;
}

.mision h3 {
  color: #188fbe;
}

.vision h3 {
  color: #f0cf3d;
}

.proposito h3 {
  color: #3d8314;
}

.nosotros_main_bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nosotros_main_bottom-titulo {
  width: 100%;
  margin: 2.5rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.nosotros_main_bottom-titulo hr {
  width: 16rem;
  height: 0.2rem;
  background-color: #f2c778;
  color: #f2c778;
  border: none;
}
.nosotros_main_bottom-titulo h2 {
  font-family: "Montserrat", sans-serif;
  color: #243773;
  font-size: 2.3rem;
}

.nosotros_main_bottom-texto {
  margin-bottom: 2.5rem;
  font-family: "Montserrat", sans-serif;
  text-align: justify;
  color: #243773;
  font-size: 1.2rem;
}

.fileInput-container {
  width: 100%;
  margin: 0;
}
.fileInput-container label {
  width: 100%;
}

.fileInput {
  display: none;
}

.fileInput + label {
  display: flex;
  flex: 1;
}

.fileInput_name,
.fileInput_button {
  padding: 6px 15px;
}

.fileInput_name {
  background-color: #F2F2F2;
  border: 2px solid #243773;
  border-right: none;
  border-radius: 5px 0 0 5px;
  flex: 1;
  min-width: 20%;
}
.fileInput_name span {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  width: 100%;
}

.fileInput_button {
  background: #f2c778 url(../ico/upload.png) 4px center/25px no-repeat;
  border: 2px solid #243773;
  border-radius: 0 5px 5px 0;
  white-space: nowrap;
  cursor: pointer;
  padding-left: 33px;
}

.contacto_top {
  height: 10rem;
  background-color: #243773;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 1rem;
}

.contacto_top-cards a {
  text-decoration: none;
  color: #f2c778;
  font-size: 1.1rem;
  font-family: "Montserrat", sans-serif;
}

.contacto_top-cards i {
  color: #f2c778;
}

.contacto_main {
  width: 100%;
  background-color: #F2F2F2;
  gap: 3rem;
}

.contacto_main-map {
  border: 0.15rem solid #f2c778;
  box-shadow: 0 0 5px #243773;
  margin-top: 20px;
}
.contacto_main-map iframe {
  width: 550px;
  height: 690px;
}

.contacto_main-form {
  width: 80%;
  margin: 5rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contacto_main-form h2 {
  font-family: "Montserrat", sans-serif;
  color: #243773;
  text-align: center;
  margin-bottom: 1rem;
}
.contacto_main-form hr {
  height: 0.2rem;
  width: 35%;
  background-color: #f2c778;
  border: none;
  margin-bottom: 3rem;
}
.contacto_main-form form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.6rem;
}
.contacto_main-form form input {
  width: 100%;
  height: 2rem;
  border: solid 2px #243773;
  border-radius: 5px;
}
.contacto_main-form form textarea {
  border: solid 2px #243773;
  border-radius: 5px;
  width: 100%;
}

.form_button {
  width: 100%;
  color: #243773;
  border: solid 2px #243773;
  border-radius: 5px;
  font-size: 1rem;
  padding: 6px 15px;
  cursor: pointer;
  background-color: #f2c778;
  transition: 0.3s;
}

.form_button:hover {
  background-color: #243773;
  color: #F2F2F2;
  border: solid 2px #F2F2F2;
}

.contacto_main-form form textarea::-moz-placeholder, .contacto_main-form form input::-moz-placeholder {
  font-family: "Montserrat", sans-serif;
  color: #243773;
  font-size: 0.9rem;
  padding-left: 3px;
}

.contacto_main-form form textarea::placeholder,
.contacto_main-form form input::placeholder,
.contacto_main-form form input,
.contacto_main-form form textarea {
  font-family: "Montserrat", sans-serif;
  color: #243773;
  font-size: 0.9rem;
  padding-left: 3px;
}

.titulo {
  margin: 0;
  padding-top: 20px;
  background-color: #243773;
  color: #f2c778;
  font-family: "Montserrat", sans-serif;
  font-size: 46px;
}

.servicios_titulo {
  margin: 6rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.servicios_titulo hr {
  width: 16rem;
  height: 0.2rem;
  background-color: #f2c778;
  color: #f2c778;
  border: none;
}
.servicios_titulo h1 {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  color: #243773;
  font-size: 2.3rem;
}

.servicios_cards {
  display: flex;
  margin: 2.5rem;
}

.servicios_cards-imagen {
  display: flex;
  justify-content: center;
  align-items: start;
}

.servicios_cards-imagen-contenedorImagen {
  width: 200px;
  height: 200px;
}
.servicios_cards-imagen-contenedorImagen img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  outline: 0.6rem solid #f2c778;
}

.servicios_cards-texto {
  /* width: 60%; */
  padding: 0 3rem;
  font-family: "Montserrat", sans-serif;
  color: #243773;
}
.servicios_cards-texto h3 {
  font-size: 1.9rem;
  margin-bottom: 1rem;
}
.servicios_cards-texto p {
  font-size: 1rem;
  text-align: justify;
}

.productos {
  min-height: 450px;
  background: linear-gradient(to bottom, #243773 10%, #0378A6 100%);
}

.productos_titulo {
  margin-top: 2rem;
  font-family: "Montserrat", sans-serif;
  color: #F2F2F2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.productos_titulo h2 {
  font-size: 2.6rem;
}
.productos_titulo p {
  max-width: 500px;
}

.cards_productos {
  margin: 4rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  transition: 0.3s;
}

.cards_productos:hover {
  transform: scale(1.5);
}

.cards_productos:hover h4 {
  color: #f2c778;
}

.cards_productos:hover .cards_productos-imagenContenedor img {
  outline: 0.4rem solid #f2c778;
}

.cards_productos h4 {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  color: #F2F2F2;
}

.cards_productos-imagenContenedor {
  height: 210px;
  width: 210px;
  margin: 1rem 0;
  padding: 1.5rem;
}
.cards_productos-imagenContenedor img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  outline: 0.4rem solid #F2F2F2;
}

.marcas_secundarias {
  background-color: #F2F2F2;
}

@media screen and (max-width: 1100px) {
  .contacto_main-map iframe {
    width: 100%;
  }
  .nosotros_main_bottom-titulo hr,
  .servicios_titulo hr {
    display: none;
  }
  .nosotros_left {
    width: 100%;
  }
  .nosotros_right {
    width: 100%;
  }
  .servicios_cards-imagen {
    margin-bottom: 2rem;
  }
  .cards_productos {
    margin: 1rem;
  }
  .productos {
    padding-bottom: 3rem;
  }
  .carrousel_texto {
    max-width: 700px;
    height: 275px;
    text-align: center;
  }
  .carrousel_texto p {
    width: 100%;
  }
  .carrousel_imagen {
    height: 275px;
  }
  .contacto_top-cards {
    padding-top: 10px;
  }
  .contacto_main-form {
    width: 100%;
  }
}
@media screen and (max-width: 767px) {
  .servicios_cards-texto {
    width: 100%;
    padding: 0;
  }
  .servicios_cards-texto h3, .servicios_cards-texto p {
    text-align: center;
  }
  .contacto_main-map iframe {
    width: 100%;
    height: 400px;
  }
  .marcas_secundarias-imagenContenedor {
    margin: 0.5rem;
    padding: 0.5rem;
  }
  .marcas_secundarias-imagenContenedor img {
    outline: 0.4rem solid #f2c778;
  }
}/*# sourceMappingURL=style.css.map */