@import 'variables';

.contacto_top {
  height: 10rem;
  background-color: $colorPrimario;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 1rem;
}

.contacto_top-cards a {
  text-decoration: none;
  color: $colorSecundario;
  font-size: 1.1rem;
  font-family: 'Montserrat', sans-serif;
}

.contacto_top-cards i {
  color: $colorSecundario;
}


.contacto_main {
  width: 100%;
  background-color: $colorClaro;
  gap: 3rem;
}

.contacto_main-map {
  border: .15rem solid $colorSecundario;
  box-shadow: 0 0 5px $colorPrimario;
  margin-top: 20px;
  iframe {
    width: 550px;
  }
}


.contacto_main-form {
  width: 100%;
  margin: 5rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  h2 {
    font-family: 'Montserrat', sans-serif;
    color: $colorPrimario;
    text-align: center;
    margin-bottom: 1rem;
  }
  hr {
    height: .2rem;
    width: 35%;
    background-color: $colorSecundario;
    border: none;
    margin-bottom: 3rem;
  }
  form {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .6rem;
    input  {
      width: 100%;
      height: 2rem;
      border: solid 1.5px $colorPrimario;
    }
    textarea {
      border: solid 1.5px $colorPrimario;
      width: 100%;
    }
  }
}

.form_button {
  width: 100%;
  color: $colorPrimario;
  border: solid 2px $colorPrimario;
  border-radius: 5px;
  font-size: 1rem;
  padding: 6px 15px;
  cursor: pointer;
  background-color: $colorSecundario;
  transition: .3s;
  
}

.form_button:hover {
  background-color: $colorPrimario;
  color: $colorClaro;
  border: solid 2px $colorClaro;
}

.contacto_main-form form textarea::placeholder,
.contacto_main-form form input::placeholder,
.contacto_main-form form input,
.contacto_main-form form textarea {

  font-family: 'Montserrat', sans-serif;
  color: $colorPrimario;
  font-size: .9rem;

}