.contacto_top {
  height: 10rem;
  background-color: var(--primario);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 1rem;
}

.contacto_top-cards a {
  text-decoration: none;
  color: var(--secundario);
  font-size: 1.1rem;
  font-family: 'Montserrat', sans-serif;
}

.contacto_top-cards i {
  color: var(--secundario);
}


.contacto_main {
  width: 100%;
  background-color: var(--claro);
  gap: 3rem;
}

.contacto_main-map {
  border: .15rem solid var(--secundario);
  box-shadow: 0 0 5px var(--primario);
  margin-top: 20px;
}

.contacto_main-map iframe {
  width: 550px;
}

.contacto_main-form {
  width: 50%;
  margin: 5rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contacto_main-form h2 {
  font-family: 'Montserrat', sans-serif;
  color: var(--primario);
  text-align: center;
  margin-bottom: 1rem;
}

.contacto_main-form hr {
  height: .2rem;
  width: 35%;
  background-color: var(--secundario);
  border: none;
  margin-bottom: 3rem;
  
  
}

.contacto_main-form form {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: .6rem;
}


.contacto_main-form form input  {
  width: 100%;
  height: 1.4rem;
  border: solid 1.5px var(--primario);
}

.contacto_main-form form textarea {
  border: solid 1.5px var(--primario);
  width: 100%;
}

.form_button {
  width: 100%;
  color: var(--primario);
  border: solid 2px var(--primario);
  border-radius: 5px;
  font-size: 1rem;
  padding: 6px 15px;
  cursor: pointer;
  background-color: var(--secundario);
  transition: .3s;
  
}

.form_button:hover {
  background-color: var(--primario);
  color: var(--claro);
  border: solid 2px var(--claro);
}

.contacto_main-form form textarea::placeholder,
.contacto_main-form form input::placeholder,
.contacto_main-form form input,
.contacto_main-form form textarea {

  font-family: 'Montserrat', sans-serif;
  color: var(--primario);
  font-size: .9rem;

}