.header_top {
  height: 30px;
  background-color: $colorClaro;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  text-align: center;
  z-index: 100;
  img {
    height: 1rem;
  }
  i {
    height: 1rem;
    color: $colorPrimario;
  }
  a {
    text-decoration: none;
    color: $colorPrimario;
    font-size: .9rem;
    font-family: $fuentePrimaria;
  }
}


/* HEADER BOTTOM - NAV */

.navbar {
  box-shadow: 0 0 1px $colorOscuro;
}
.nav-item {
  padding: 10px;
}
.link{
  text-decoration: none;
  padding: 8px;
  margin-right: 12px;
  font-size: 1.2rem;
  color: $colorPrimario;
  font-family: $fuentePrimaria;
  transition: .3s;
}

.link:hover {
  color: $colorSecundario;
}