.header_top {
  height: 30px;
  background-color: var(--claro);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  text-align: center;
  z-index: 100;
}

.header_top-card img {
  height: 1rem;
}

.header_top-card i {
  height: 1rem;
  color: var(--primario);
}

.header_top-card a {
  text-decoration: none;
  color: var(--primario);
  font-size: .9rem;
  font-family: 'Montserrat', sans-serif;
}

/* HEADER BOTTOM - NAV */

.navbar {
  box-shadow: 0 0 1px var(--negro);
}
.nav-item {
  padding: 10px;
}
.link{
  text-decoration: none;
  padding: 8px;
  margin-right: 12px;
  font-size: 1.2rem;
  color: var(--primario);
  font-family: 'Montserrat', sans-serif;
  transition: .3s;
}

.link:hover {
  color: var(--secundario);
}