// Hero


#hero {
  background-color: $colorPrimario;
}

.carrousel {
  padding: 0rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carrousel_imagen {
  width: 700px;
  height: 500px;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}


.carrousel_texto {
  padding: 1rem;
  max-width: 350px;
  max-height: 200px;
  font-family: $fuentePrimaria;
  color: $colorClaro;
}

.hero_bottom {
background-color: $colorClaro;
min-height: 260px;
padding: 1rem;
}   
.hero_bottom-titulo {
  font-size: 2.6rem;
  color: $colorPrimario;
  font-family: $fuentePrimaria;
  text-align: center;
  user-select: none;
}


.hero_botom-logos {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 2rem;
  img {
    height: 135px;
  }
}

/* HERO BOTTOM // MARCAS SECUNDARIAS */

.marcas_secundarias h2 {
  color: $colorPrimario;
  font-family: $fuentePrimaria;
  text-align: center;
}

.marcas_secundarias-contenedor {
  display: flex;
  justify-content: center;
}

.marcas_secundarias-imagenContenedor {
  height: 210px;
  width: 210px;
  margin: 1rem 0;
  padding: 1.5rem;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    outline: .3rem solid $colorSecundario;
  }
}


/* NOSOTROS */

.nosotros {
  min-height: 690px;
  background-image: url("../img/racks.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  background-attachment: fixed;
  font-family: $fuentePrimaria;
  padding: 10px;
}

.nosotros_left {
  gap: 16px;
  padding-right: 2rem;
  user-select: none;
  img {
    height: 115px;
    filter: invert(1);
  }
}


.nosotros_left-texto {
  color: $colorClaro;
  font-size: 1.2rem;
}
.nosotros_right {
  width: 50%;
  gap: 16px;
  padding-left: 2rem;
}

.nosotros_right-texto {
  color: $colorClaro;
  user-select: none;
  h3 {
    font-size: 3rem;
  }
  hr {
    border: solid $colorClaro;
    border-width:3px;
    width: 16rem;
  }
  p {
    width: 85%;
    padding-top: 3rem;
    letter-spacing: 1px;
  }
}

.button button {
  color: $colorClaro;
  border: solid 2.5px $colorClaro;
  border-radius: 5px;
  font-size: 1rem;
  margin: 2rem 0 0 0px;
  padding: 12px 30px;
  cursor: pointer;
  background: none;
  transition: .3s;
  
}

.button button:hover {
  background-color: $colorPrimario;
  color: $colorClaro;
  border: solid 2.5px $colorClaro;
}
